---
layout: default
---

<div class="project-detail">

  <h1>{{ page.title }}</h1>

  {% if page.image %}
    <img
      src="{{ page.image | relative_url }}"
      class="project-detail-image"
      alt="{{ page.title }}">
  {% endif %}

  <div class="project-meta">

    {% if page.engine %}
      <span>{{ page.engine }}</span>
    {% endif %}

    {% if page.language %}
      <span>{{ page.language }}</span>
    {% endif %}

    {% if page.period %}
      <span>{{ page.period }}</span>
    {% endif %}

    {% if page.team %}
      <span>{{ page.team }}</span>
    {% endif %}

  </div>

  <div class="project-content">

    {{ content }}

  </div>

</div>
